<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h1> <%= @product.name %></h1>
    <h4>Code Article: <%= @specification.code_article %></h4>
    <h4>Color: <%= @specification.color %></h4>
    <h4>Size: <%= @specification.size %></h4>
    <h4>Stock: <%= @specification.quantity %></h4>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
     <h3>Add an Image</h3>
     <%= render 'images/img_form' %>
   </div>
 </div>
</div>
