<%if @order == nil%>
  <div class="empty-basket">
    <hr>
    <h4>Your basket is empty</h4>
    <hr>
  </div>
  <div class="basket_links">
    <%=link_to 'Shop Men', men_products_path, class:'btn btn-success'%>
    <%=link_to 'Shop Women', women_products_path, class: 'btn btn-success'%>
  </div>
<%elsif @order.delivery_info.nil?%>
  <div class="full-basket">
    <div class="current-order-title">
      <h2> Your Order</h2>
    </div>
    <hr>
    <div class="basket-lines">
      <div class="order-lines-titles">
        <div class="subtitles"><h4>Code Article</h4></div>
        <div class="subtitles"><h4>Name</h4></div>
        <div class="subtitles"><h4>Color</h4></div>
        <div class="subtitles"><h4>Size</h4></div>
        <div class="subtitles"><h4>Price</h4></div>
      </div>
      <%@order.order_lines.each do |order_line|%>
      <div class="current-order-flexbox">
        <div class="code-article">
          <%=order_line.specification.code_article%>
        </div>
        <div class="order_prod_name">
          <%=order_line.product.name%>
        </div>
        <div class="order-line-color">
          <%=order_line.specification.color%>
        </div>
        <div class="order-line-size">
          <%=order_line.specification.size%>
        </div>
        <div class="price-order-line">
          <%= order_line.quantity * order_line.price %>€
        </div>
      </div>
      <%end%>
    </div>
    <hr>
    <div class="order-total">
      Total: <%=@order.make_subtotal * 100%>€
    </div>
    <div class="order-total">
      <%=link_to new_order_delivery_info_path(@order) do %>
      <div class="btn btn-success">Checkout</div>
      <%end%>
    </div>
  </div>
<%else%>
  <div class="current-order-delivery-infos">
    <div class="current-order-delivery-title">
      <h2>Your infos</h2>
    </div>
    <hr>
    <div class="current-order-infos">
      <p> <%=@order.delivery_info.last_name.upcase%> <%=@order.delivery_info.first_name%></p>
      <p><%=@order.user.email%></p>
      <p><%=@order.delivery_info.street_number%> <%=@order.delivery_info.street_name%> </p>
      <p><%=@order.delivery_info.zip_code%> <%=@order.delivery_info.city%> </p>
      <p><%=@order.delivery_info.country%></p>
    </div>
    <hr>
    <div class="order-total delivery-btn">
      <%=  link_to edit_order_delivery_info_path(@order.id, @order.delivery_info.id) do %>
        <div class="btn btn-success">Update</div>
      <%end%>
    </div>
  </div>
  <div class="full-basket">
    <div class="current-order-title">
      <h2> Your Order</h2>
    </div>
    <hr>
    <div class="basket-lines">
      <div class="order-lines-titles">
        <div class="subtitles"><h4>Code Article</h4></div>
        <div class="subtitles"><h4>Name</h4></div>
        <div class="subtitles"><h4>Color</h4></div>
        <div class="subtitles"><h4>Size</h4></div>
        <div class="subtitles"><h4>Price</h4></div>
      </div>
      <%@order.order_lines.each do |order_line|%>
      <div class="current-order-flexbox">
        <div class="code-article">
          <%=order_line.specification.code_article%>
        </div>
        <div class="order_prod_name">
          <%=order_line.product.name%>
        </div>
        <div class="order-line-color">
          <%=order_line.specification.color%>
        </div>
        <div class="order-line-size">
          <%=order_line.specification.size%>
        </div>
        <div class="price-order-line">
          <%= order_line.quantity * order_line.price %>€
        </div>
      </div>
      <%end%>
    </div>
    <hr>
    <div class="order-total">
      Total: <%=@order.make_subtotal * 100%>€
    </div>
    <div class="order-total">
      <%=link_to new_order_payment_path(@order) do %>
        <div class="btn btn-success">Purchase</div>
      <%end%>
    </div>
  </div>
<%end%>
