<!-- CAROUSEL -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active ">
      <%= image_tag 'ceracar.png', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'ceracarousel.jpg', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag'ambafitness.jpg', class: "tales" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>


<!-- Gender -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="ceratech hvr-underline-from-center">
        <div>
          <p>CERAMIQ <i class="fa fa-registered" aria-hidden="true"></i></p>
          <p>Technology</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 gender-box">
      <%= link_to men_products_path do%>
      <div class="male hvr-underline-from-center">
        <div>
          <p>Collection</p>
          <h4>Homme</h4>
        </div>
      </div>
      <%end%>
    </div>
    <div class="col-xs-6 col-md-3 gender-box">
      <%= link_to women_products_path do%>
      <div class="female hvr-underline-from-center-for-women">
        <div>
          <p>Collection</p>
          <h4>Femme</h4>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>


<!-- CATEGORIES -->

<div class="wrapper wrapper-category">

  <div class="container">
    <div class="row">
      <div class=" col-xs-6 col-xs-offset-3 category-line">
        <hr style="color:#EEEEEE; width: 87px">
        <div class="category-head"><h2> Pick your Sport</h2></div>
        <hr style="color:#EEEEEE; width: 87px">
      </div>
    </div>
  </div>

  <div class="container cera-categories-container">
    <div class="row">

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-run"></div>
            <div class="back">
              <p>CeramiQ <br> Running</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-fitness"></div>
            <div class="back-girl">
              <p>CeramiQ <br> Fitness</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-ski"></div>
            <div class="back">
              <p>CeramiQ <br> Ski</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front cera-cat-canyon"></div>
            <div class="back-girl">
              <p>CeramiQ <br> Canyoning</p>
            </div>
          </div>
        </div>
      </div>

      <div class="category-special">
        <div class="col-xs-12 col-md-3">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-hike"></div>
              <div class="back">
                <p>CeramiQ <br> Hiking</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3 cat-climb-special">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-climb"></div>
              <div class="back-girl">
                <p>CeramiQ <br> Climbing</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-3 cat-bike-special">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front cera-cat-bike"></div>
              <div class="back">
                <p>CeramiQ <br> Cycling</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container cat-end-line">
    <div class="row">
      <div class=" col-xs-6 col-xs-offset-3">
        <hr style="color:#EEEEEE; width: 250px">
      </div>
    </div>
  </div>
</div>

<div class="container special-prod">
  <div class="row">
    <div class=" col-xs-8 col-xs-offset-2 category-line">
      <hr style="color:#EEEEEE; width: 87px">
      <div class="category-head"><h2> Pleasure for your Senses</h2></div>
      <hr style="color:#EEEEEE; width: 87px">
    </div>
  </div>
</div>




























